:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* General Styles */
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--Light-Grayish-Blue);
  padding: 3em 1em;
  height: 100vh;
  font-weight: 500;
  color: var(--Desaturated-Dark-Blue);
}

h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
p {
  font-weight: 500;
}

/* Card */

.container{
  border: 1px solid red;
  margin: 0 auto;
  height: 100vh;
}


.card-container{
  border: 1px double yellow;
  height: 100%;
}

/* Header image */
.header-image{
  background-image: url('./images/drawers.jpg');
  height: 33.33%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
